# ====================================
# mac
# ====================================
.DS_Store

# ====================================
# windows
# ====================================
Thumbs.db
desktop.ini

# ====================================
# eclipse
# ====================================
.buildpath
.project
.settings/

# ====================================
# Php Strom
# ====================================
.idea

# ====================================
# daemontools
# ====================================
lock
current
state

# ====================================
# project settings
# ====================================

# ====================================
# personal settings
# ====================================
*.bak
*.bk
*.gz
*.log
*.u

# ====================================
# not ignore
# ====================================
!.gitkeep
